body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-family: Calibri
}

.container {
    width: 1366px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 0 10px;
}

.direction {
    float: right;
    display: flex;
    position: relative;
}

.direction img {
    padding-right: 10px;
}

.direction a {
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
}

.intro {
    text-align: center;
    clear: both;
}

h1 {
    color: white;
    font-size: 80px;
}

.rooms {
    display: flex;
}

.room-text1 {
    text-align: left;
    margin-left: 10rem;
    margin-top: 5rem;
}

.room-text1 h2 {
    text-align: center;
}

.room-text {
    text-align: right;
    margin-right: 82px;
    margin-top: 187px;
}

h2 {
    color: white;
    text-align: right;
    font-size: 42px;
}

p {
    color: white;
    font-size: 24px;
}

#room-price {
    font-weight: bolder;
}

button {
    border: none;
    background: #D66439;
    color: rgb(0, 0, 0);
    padding: 25px;
    font-size: 24px;
    font-weight: bolder;
}

.room-img {
    margin-top: 100px;
}

.room-types {
    width: 640px;
    height: 568px;
}

.room-text-mobile {
    display: none;
}

@media screen and (max-width: 900px) {
    .direction a {
        font-size: 16px;
    }
    .rooms {
        display: block;
    }
    .room-types {
        width: 540px;
        height: 468px;
        margin-left: 40px;
    }
    .room-text1 {
        margin: auto;
        text-align: center;
    }
    .room-text {
        display: none;
    }
    .room-text-mobile {
        display: block;
        margin: auto;
        text-align: center;
    }
    .room-text-mobile h2 {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0;
        margin: 0;
    }
    .intro {
        margin-bottom: 15px;
    }
    .intro h1 {
        font-size: 40px;
        text-align: center;
    }
    .intro p {
        font-size: 16px;
        text-align: center;
        margin: auto;
    }
    .rooms {
        display: block;
    }
    .room-types {
        width: 260px;
        height: 300px;
        margin-left: 25px;
    }
    .room-text1 {
        margin: auto;
        margin-right: 30px;
        text-align: center;
    }
    .room-text1 h2 {
        font-size: 24px;
    }
    .room-text1 p {
        font-size: 16px;
    }
    .room-text-mobile {
        margin: auto;
        margin-right: 30px;
        text-align: center;
    }
    .room-text-mobile h2 {
        font-size: 24px;
    }
    .room-text-mobile p {
        font-size: 16px;
    }
}
